@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('ttf');
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    
  
}

@font-face {
  font-family: 'NotoSerif';
  src: url('../fonts/NotoSerif-Bold.ttf') format('ttf');
  font-size: 25px;
  font-weight: 400;
  font-style: normal;}

  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-size: 15px;
    font-weight: 900;
    font-style: normal;}

  @font-face {
      font-family: 'OpenSans';
      src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
      font-size: 16px;
      font-weight: 400;
      font-style: normal;}
@font-face {
        font-family: 'OpenSans';
        src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
        font-size: 16px;
        font-weight: 900;
        font-style: normal;}

